{% extends 'base.html.twig' %}

{% block title %}actor{% endblock %}

{% block body %}
<div class="text-center m-5">
    <h1>{{ actor.name }}</h1>
    <h3>Series :</h3>
    {% for program in programs %}
    <a href="{{ path("program_show", { slug: program.slug }) }}"><p>{{ program.title }}</p></a> 
    {% else %}  
    <p>no programs found</p>
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </br>
</div>
{% endblock %}